html 
  head 
    title Crear
  body
    div
      a(href=allProductLink)
Productos
  h2 Ingrese Producto
  form(role="form"
method="POST" action="/productos")
      input(type="text"
    name="title"
    placeholder="Titulo")
      input(type="text"
    name="price"
    placeholder="Precio")
      input(type="text"
    name="thumbnail"
    placeholder="Foto")
  button(class="btn btn-primary")="Enviar"
  button(class="btn btn-primary" onclick="window.location.href='/api/productos'")="Lista de Productos"